
.botonesLateral{

    display: flex;
    margin: 0 auto;
    width: 60%;
    
}

.tamaño{
   border-radius:40%;
}


.botonesLateral button > img {
    width: 150px;
    height: 120px;
    border-radius: 60%;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


.botonesLateral button > img:hover {
    transform: scale(1.5);
}

.botonesLateral button {
    margin-right: 10px; 
    border-radius: 30%;
}
