#div1 , #div2 {
	display: flex;
}

#textBox , #playButton {
	height: 20px;
	margin-top: 15px;
	margin-left: 5px;
}

#playerName {
	margin-left: 5px;
}

#div3 {
	float: right;
	margin-top: 0px;
}

.imgPlayer, .imgPC {
	height:50px;
	width: 50px;

}

#scissorsImgPlayer , #scissorsImgPC {
	background-color: white;
}

#versusImg {
	height: 200px;
	width: 200px;
	border-color: black;
	border-radius: 200px;
	border-style: solid;
	padding: 10px;
}
